    <div class="flex justify-center p-6 md:p-10 2xl:p-8 relative bg-no-repeat bg-center bg-cover"
        style="background-image: url(&quot;/assets/images/page-header.jpg&quot;);">
        <div
            class="absolute top-0 ltr:left-0 rtl:right-0 bg-black w-full h-full opacity-50 transition-opacity duration-500 group-hover:opacity-80">
        </div>
        <div class="w-full flex items-center justify-center relative z-10 py-10 md:py-14 lg:py-20 xl:py-24 2xl:py-32">
            <h2 class="text-xl md:text-2xl lg:text-3xl font-bold text-white text-center"><span
                    class="font-satisfy block font-normal mb-3">explore</span>Privacy Policy</h2>
        </div>
    </div>
    <div
        class="mt-12 lg:mt-14 xl:mt-16 lg:py-1 xl:py-0 border-b border-gray-300 md:px-10 lg:px-7 xl:px-16 2xl:px-24 3xl:px-32 pb-9 md:pb-14 lg:pb-16 2xl:pb-20 3xl:pb-24">
        <div class="mx-auto max-w-[1920px] md:px-8 2xl:px-16">
            <div class="flex flex-col md:flex-row">
                <nav class="md:w-72 xl:w-3/12 mb-8 md:mb-0">
                    <ol class="sticky md:top-16 lg:top-28 z-10">
                        <li><a
                                class="block cursor-pointer py-3 lg:py-3.5  text-sm lg:text-base  text-gray-700 uppercase">00
                                Purpose</a></li>
                        <li><a
                                class="block cursor-pointer py-3 lg:py-3.5  text-sm lg:text-base  text-gray-700 uppercase">01
                                What is Personal Data?</a></li>
                        <li><a
                                class="block cursor-pointer py-3 lg:py-3.5  text-sm lg:text-base  text-gray-700 uppercase">02
                                Personal Data Collected</a></li>
                        <li><a
                                class="block cursor-pointer py-3 lg:py-3.5  text-sm lg:text-base  text-gray-700 uppercase">03
                                Accessing your Personal Data</a></li>
                        <li><a
                                class="block cursor-pointer py-3 lg:py-3.5  text-sm lg:text-base  text-gray-700 uppercase">04
                                Complaints</a></li>
                        <li><a
                                class="block cursor-pointer py-3 lg:py-3.5  text-sm lg:text-base  text-gray-700 uppercase">05
                                Owner and Data Controller</a></li>
                    </ol>
                </nav>
                <div class="md:w-9/12 ltr:md:pl-8 rtl:md:pr-8 pt-0 lg:pt-2">
                    <div id="privacy-one-title" class="mb-10">
                        <h2 class="text-lg md:text-xl lg:text-2xl text-heading font-bold mb-4">Purpose</h2>
                        <div class="text-heading text-sm leading-7 lg:text-base lg:leading-loose">
                            <p>Little &amp; Big is committed to protecting your privacy because we are committed to
                                valuing people. Our Privacy Policy below sets out how your personal information is
                                collected, used and protected. The Demo Country Privacy
                                    Principles also apply to us.</p>
                            <p>This Privacy Policy describes our policies and procedures on the collection, holding, use
                                and disclosure of your personal information and should be read together with
                                our&nbsp;Terms and Conditions. By providing your personal information you consent to our
                                collection, use and disclosure of that information in accordance with this Privacy
                                Policy.</p>
                        </div>
                    </div>
                    <div id="privacy-two-title" class="mb-10">
                        <h2 class="text-lg md:text-xl lg:text-2xl text-heading font-bold mb-4">What is Personal Data?
                        </h2>
                        <div class="text-heading text-sm leading-7 lg:text-base lg:leading-loose">
                            <p>When used in this Policy, 'personal information' has the meaning given in the Privacy
                                Act. Generally, it means any information or an opinion that could be used to identify
                                you.</p>
                        </div>
                    </div>
                    <div id="privacy-three-title" class="mb-10">
                        <h2 class="text-lg md:text-xl lg:text-2xl text-heading font-bold mb-4">Personal Data Collected
                        </h2>
                        <div class="text-heading text-sm leading-7 lg:text-base lg:leading-loose">
                            <p>Personal Data collected for the following purposes and using the following services:</p>
                            <ol>
                                <li>Google Analytics: Cookies; Usage Data</li>
                                <li>Contact form: email address; first name; phone number</li>
                                <li>Mailing list or newsletter: email address; first name</li>
                            </ol>
                        </div>
                    </div>
                    <div id="privacy-four-title" class="mb-10">
                        <h2 class="text-lg md:text-xl lg:text-2xl text-heading font-bold mb-4">Accessing your Personal
                            Data</h2>
                        <div class="text-heading text-sm leading-7 lg:text-base lg:leading-loose">
                            <p>You may request access to your personal information collected by us, and ask that we
                                correct that personal information. You can ask for access or correction by contacting us
                                and we will usually respond within 30 days. If we refuse to give you access to, or
                                correct, your personal information, we will notify you in writing setting out the
                                reasons.</p>
                        </div>
                    </div>
                    <div id="privacy-five-title" class="mb-10">
                        <h2 class="text-lg md:text-xl lg:text-2xl text-heading font-bold mb-4">Complaints</h2>
                        <div class="text-heading text-sm leading-7 lg:text-base lg:leading-loose">
                            <p>If you believe your privacy has been breached or you have a complaint about how we have
                                handled your personal information, please contact us in writing. We will respond within
                                a reasonable period (usually within 30 days).</p>
                        </div>
                    </div>
                    <div id="privacy-six-title" class="mb-10">
                        <h2 class="text-lg md:text-xl lg:text-2xl text-heading font-bold mb-4">Owner and Data Controller
                        </h2>
                        <div class="text-heading text-sm leading-7 lg:text-base lg:leading-loose">
                            <p>The Commons<br>20-40 demo St,<br>Jon doe NSW 2008<br>Country<br><br>Email: demo@demo.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
