<div class="flex justify-center p-6 md:p-10 2xl:p-8 relative bg-no-repeat bg-center bg-cover"
    style="background-image: url(/assets/images/page-header.jpg);">
    <div
        class="absolute top-0 ltr:left-0 rtl:right-0 bg-black w-full h-full opacity-50 transition-opacity duration-500 group-hover:opacity-80">
    </div>
    <div class="w-full flex items-center justify-center relative z-10 py-10 md:py-14 lg:py-20 xl:py-24 2xl:py-32">
        <h2 class="text-xl md:text-2xl lg:text-3xl font-bold text-white text-center"><span
                class="font-satisfy block font-normal mb-3">explore</span>Awesome Coupons</h2>
    </div>
</div>
<div class="mx-auto max-w-[1920px] md:px-8 2xl:px-16">
    <div class="py-16 lg:py-20">
        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 xl:gap-8 2xl:grid-cols-6">
            <div *ngFor="let coupon of coupons" class="coupon-card">
                <div class="relative flex overflow-hidden bg-gray-200 h-52 rounded">
                    <div class="absolute top-0 left-0 h-full w-full bg-cover bg-center bg-no-repeat blur-sm"
                        [ngStyle]="{'background-image': 'url(' + coupon.imageUrl + ')'}">
                    </div>
                    <img [alt]="coupon.code" loading="lazy" decoding="async" data-nimg="fill"
                        sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw" [src]="coupon.imageUrl"
                        style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: contain; color: transparent;">
                </div>
                <div
                    class="grid items-center w-11/12 grid-flow-col px-5 py-4 mx-auto rounded-bl-md shadow-cart rounded-br-md auto-cols-fr bg-light">
                    <span class="flex items-center font-semibold uppercase text-heading focus:outline-none gap-1.5">{{
                        coupon.code }}</span>
                    <button
                        class="text-sm font-semibold text-black transition-colors duration-200 hover:text-black focus:text-black focus:outline-0 ltr:text-right rtl:text-left">
                        <span>Copy</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div
        class="px-5 sm:px-8 md:px-16 2xl:px-24 flex flex-col justify-center xl:justify-between items-center rounded-lg bg-gray-200 py-10 md:py-14 lg:py-16 xl:flex-row">
        <div
            class="-mt-1.5 lg:-mt-2 xl:-mt-0.5 text-left ltr:xl:text-left rtl:xl:text-right mb-7 md:mb-8 lg:mb-9 xl:mb-0">
            <h3
                class="text-heading text-lg md:text-xl lg:text-2xl 2xl:text-3xl xl:leading-10 font-bold mb-2 md:mb-2.5 lg:mb-3 xl:mb-3.5">
                Get Expert Tips In Your Inbox</h3>
            <p class="text-body text-xs md:text-sm leading-6 md:leading-7">Subscribe to our newsletter and stay updated.
            </p>
        </div>
        <form class="flex-shrink-0 w-full sm:w-96 md:w-[545px] z-10 relative">
            <div class="flex flex-col sm:flex-row items-start justify-end">
                <div class="w-full"><input id="email" name="email" type="email" placeholder="Write your email here"
                        class="py-2 md:px-5 w-full appearance-none border text-input text-xs md:text-[13px] lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out border-gray-300 focus:outline-none focus:border-heading md:h-12 px-4 lg:px-7 h-12 lg:h-14 text-center ltr:sm:text-left rtl:sm:text-right bg-white"
                        autocomplete="off" spellcheck="false" aria-invalid="false"></div><button data-variant="flat"
                    class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none focus:bg-opacity-80 bg-heading text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-cart mt-3 sm:mt-0 w-full sm:w-auto ltr:sm:ml-2 rtl:sm:mr-2 md:h-full flex-shrink-0"><span
                        class="lg:py-0.5">Subscribe</span></button>
            </div>
        </form>
    </div>
</div>
