<header id="siteHeader" class="relative z-20 w-full h-16 sm:h-20 lg:h-24">
  <div
    class="fixed z-20 w-full h-16 px-4 text-gray-700 transition duration-200 ease-in-out bg-white innerSticky body-font sm:h-20 lg:h-24 md:px-8 lg:px-6">
    <div class="flex items-center justify-center mx-auto max-w-[1920px] h-full w-full">
      <a class="inline-flex focus:outline-none" routerLink="/">
        <span>
          <img alt="ChawkBazar" src="../../../assets/images/logo.svg"  decoding="async" data-nimg="fixed"  style="max-width: 95px;">
        </span>
      </a>
      <nav
        class="ms-5 headerMenu flex w-full relative hidden lg:flex ltr:md:ml-6 ltr:xl:ml-10 rtl:md:mr-6 rtl:xl:mr-10">
        <div class="menuItem group cursor-pointer py-7 relative">
          <a class="relative inline-flex items-center px-3 py-2 text-sm font-normal before:rtl:right-0 before:ltr:left-0 xl:text-base text-heading xl:px-4 group-hover:text-black"
            routerLink="/">Demos<span class="opacity-30 text-xs mt-1 xl:mt-0.5 w-4 flex justify-end"><svg
                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
                class="transition duration-300 ease-in-out transform group-hover:-rotate-180" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                </path>
              </svg></span></a>
          <div class="absolute bg-gray-200 subMenu shadow-header ltr:left-0 rtl:right-0 group-hover:opacity-100">
            <ul class="py-3 text-sm text-body">
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/">Modern</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/standard">Standard</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/minimal">Minimal</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/vintage">Vintage</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/classic">Classic</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/trendy">Trendy</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/elegant">Elegant</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/refined">Refined</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/fashion">Fashion</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="menuItem group cursor-pointer py-7">
          <a class="relative inline-flex items-center px-3 py-2 text-sm font-normal before:rtl:right-0 before:ltr:left-0 xl:text-base text-heading xl:px-4 group-hover:text-black"
            routerLink="search/men">Men Wear<span class="opacity-30 text-xs mt-1 xl:mt-0.5 w-4 flex justify-end"><svg
                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
                class="transition duration-300 ease-in-out transform group-hover:-rotate-180" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                </path>
              </svg></span></a>
          <div
            class="megaMenu shadow-header bg-gray-200 absolute ltr:-left-20 rtl:-right-20 ltr:xl:left-0 rtl:xl:right-0 group-hover:opacity-100 group-hover:visible">
            <div class="grid grid-cols-5">
              <ul class="ps-0 even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Top Wear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">T-Shirt</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Casual Shirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Formal Shirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Blazwers &amp; Coats</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Suits</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Jackets</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Belt, Scarves &amp; More</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Watches &amp; Wearables</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Western Wear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Dresses</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Jumpsuits</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Tops, T-Shirts &amp; Shirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Shorts &amp; Skirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Shurgs</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Blazers</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Plus Size</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Sunglasses &amp; Frames</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Footwear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Flats</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Casual Shoes</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Heels</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Boots</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sports">Sports &amp; Active Wear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sports">Clothing</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sports">Footwear</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sports">Sports Accessories</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Lingerie &amp; Sleepwear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Bra</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Briefs</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Sleepwear</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Belt, Scarves &amp; More</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Makeup</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Skincare</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Premium Beauty</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Lipsticks</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Gadgets</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Smart Wearables</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Headphones</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Jewellers</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Fashion Jewellers</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Fine Jewellers</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/bags">Backpacks</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/bags">Handbags &amp; Wallets</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="menuItem group cursor-pointer py-7">
          <a class="relative inline-flex items-center px-3 py-2 text-sm font-normal before:rtl:right-0 before:ltr:left-0 xl:text-base text-heading xl:px-4 group-hover:text-black"
            routerLink="search/women">Women Wear<span
              class="opacity-30 text-xs mt-1 xl:mt-0.5 w-4 flex justify-end"><svg stroke="currentColor"
                fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
                class="transition duration-300 ease-in-out transform group-hover:-rotate-180" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                </path>
              </svg></span></a>
          <div
            class="megaMenu shadow-header bg-gray-200 absolute ltr:-left-20 rtl:-right-20 ltr:xl:left-0 rtl:xl:right-0 group-hover:opacity-100 group-hover:visible">
            <div class="grid grid-cols-5">
              <ul class="ps-0 even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/bags">Gadgets</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Smart Wearables</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sports">Headphones</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Jewellers</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Fashion Jewellers</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Fine Jewellers</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/bags">Backpacks</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Handbags &amp; Wallets</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Top Wear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">T-Shirt</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Casual Shirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Formal Shirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Blazwers &amp; Coats</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Suits</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Jackets</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Belt, Scarves &amp; More</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Watches &amp; Wearables</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Footwear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Flats</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Casual Shoes</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Heels</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Boots</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Sports &amp; Active Wear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Clothing</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Footwear</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Sports Accessories</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Western Wear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Dresses</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Jumpsuits</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Tops, T-Shirts &amp; Shirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Shorts &amp; Skirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Shurgs</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Blazers</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Plus Size</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Sunglasses &amp; Frames</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Lingerie &amp; Sleepwear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Bra</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Briefs</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Sleepwear</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Belt, Scarves &amp; More</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Makeup</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Skincare</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Premium Beauty</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Lipsticks</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="menuItem group cursor-pointer py-7">
          <a class="relative inline-flex items-center px-3 py-2 text-sm font-normal before:rtl:right-0 before:ltr:left-0 xl:text-base text-heading xl:px-4 group-hover:text-black"
            routerLink="search/men">Casual Wear<span
              class="opacity-30 text-xs mt-1 xl:mt-0.5 w-4 flex justify-end"><svg stroke="currentColor"
                fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
                class="transition duration-300 ease-in-out transform group-hover:-rotate-180" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                </path>
              </svg></span></a>
          <div
            class="megaMenu shadow-header bg-gray-200 absolute ltr:-left-20 rtl:-right-20 ltr:xl:left-0 rtl:xl:right-0 group-hover:opacity-100 group-hover:visible">
            <div class="grid grid-cols-5">
              <ul class="ps-0 even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Gadgets</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Smart Wearables</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sports">Headphones</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Jewellers</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Fashion Jewellers</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Fine Jewellers</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/bags">Backpacks</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/bags">Handbags &amp; Wallets</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Top Wear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">T-Shirt</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Casual Shirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Formal Shirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Blazwers &amp; Coats</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Suits</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Jackets</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Belt, Scarves &amp; More</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/watch">Watches &amp; Wearables</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Footwear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Flats</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Casual Shoes</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Heels</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sneakers">Boots</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Sports &amp; Active Wear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Clothing</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Footwear</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/sports">Sports Accessories</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Western Wear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Dresses</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Jumpsuits</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Tops, T-Shirts &amp; Shirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Shorts &amp; Skirts</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Shurgs</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/men">Blazers</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Plus Size</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="/search?search=sunglass">Sunglasses &amp; Frames</a>
                </li>
              </ul>
              <ul class="even:bg-gray-150 pb-7 2xl:pb-8 pt-6 2xl:pt-7">
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Lingerie &amp; Sleepwear</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Bra</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Briefs</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Sleepwear</a>
                </li>
                <li class="mb-1.5">
                  <a class="block text-sm py-1.5 text-heading font-semibold px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Belt, Scarves &amp; More</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Makeup</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Skincare</a>
                </li>
                <li class="">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="search/women">Premium Beauty</a>
                </li>
                <li class="border-b border-gray-300 pb-3.5 mb-3">
                  <a class="text-body text-sm block py-1.5 px-5 xl:px-8 2xl:px-10 hover:text-heading hover:bg-gray-300"
                    routerLink="category/women">Lipsticks</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="menuItem group cursor-pointer py-7">
          <a class="relative inline-flex items-center px-3 py-2 text-sm font-normal before:rtl:right-0 before:ltr:left-0 xl:text-base text-heading xl:px-4 group-hover:text-black"
            routerLink="/search">Search</a>
        </div>
        <div class="menuItem group cursor-pointer py-7">
          <a class="relative inline-flex items-center px-3 py-2 text-sm font-normal before:rtl:right-0 before:ltr:left-0 xl:text-base text-heading xl:px-4 group-hover:text-black"
            routerLink="/shops">Shops</a>
        </div>
        <div class="menuItem group cursor-pointer py-7 relative">
          <a class="relative inline-flex items-center px-3 py-2 text-sm font-normal before:rtl:right-0 before:ltr:left-0 xl:text-base text-heading xl:px-4 group-hover:text-black"
            routerLink="/">Pages<span class="opacity-30 text-xs mt-1 xl:mt-0.5 w-4 flex justify-end"><svg
                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
                class="transition duration-300 ease-in-out transform group-hover:-rotate-180" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                </path>
              </svg></span></a>
          <div class="absolute bg-gray-200 subMenu shadow-header ltr:left-0 rtl:right-0 group-hover:opacity-100">
            <ul class="py-5 text-sm text-body">
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/">Users<span class="text-sm mt-0.5 shrink-0"><svg stroke="currentColor"
                      fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                      class="text-body transition duration-300 ease-in-out group-hover:text-black" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z">
                      </path>
                    </svg></span></a>
                <ul
                  class="subMenuChild shadow-subMenu bg-gray-200 absolute z-0 ltr:right-full ltr:2xl:right-auto rtl:left-full rtl:2xl:left-auto ltr:2xl:left-full rtl:2xl:right-full top-4 w-56 py-3">
                  <li class="relative">
                    <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                      routerLink="/my-account">My Account</a>
                  </li>
                  <li class="relative">
                    <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                      routerLink="/signin">Sign In</a>
                  </li>
                  <li class="relative">
                    <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                      routerLink="/signup">Sign Up</a>
                  </li>
                  <li class="relative">
                    <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                      routerLink="/forget-password">Forget Password</a>
                  </li>
                </ul>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/offers">Offers</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/faq">FAQ</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/privacy">Privacy Policy</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/terms">Terms &amp; Condition</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/contact-us">Contact Us</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/checkout">Checkout</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/collections/on-sale">Collection</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/search">Category</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/my-account/orders">Order</a>
              </li>
              <li class="relative">
                <a class="flex items-center justify-between py-2 ltr:pl-5 rtl:pr-5 ltr:xl:pl-7 rtl:xl:pr-7 ltr:pr-3 ltr:xl:pr-3.5 rtl:pl-3 rtl:xl:pl-3.5 hover:text-heading hover:bg-gray-300"
                  routerLink="/404">404</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div
        class="items-center justify-end flex-shrink-0 hidden lg:flex gap-x-6 lg:gap-x-5 xl:gap-x-8 2xl:gap-x-10 ltr:ml-auto rtl:mr-auto">
        <button class="relative flex items-center justify-center flex-shrink-0 h-auto transform focus:outline-none"
          aria-label="search-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="18px" viewBox="0 0 18.942 20"
            class="md:w-4 xl:w-5 md:h-4 xl:h-5">
            <path
              d="M381.768,385.4l3.583,3.576c.186.186.378.366.552.562a.993.993,0,1,1-1.429,1.375c-1.208-1.186-2.422-2.368-3.585-3.6a1.026,1.026,0,0,0-1.473-.246,8.343,8.343,0,1,1-3.671-15.785,8.369,8.369,0,0,1,6.663,13.262C382.229,384.815,382.025,385.063,381.768,385.4Zm-6.152.579a6.342,6.342,0,1,0-6.306-6.355A6.305,6.305,0,0,0,375.615,385.983Z"
              transform="translate(-367.297 -371.285)" fill="currentColor" fill-rule="evenodd"></path>
          </svg>
        </button>

        <button class="ms-4 relative flex items-center justify-center flex-shrink-0 h-auto transform focus:outline-none"
          aria-label="cart-button" (click)="toggleCart()">
          <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 20 20"
            class="md:w-4 xl:w-5 md:h-4 xl:h-5">
            <path
              d="M5,4H19a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V5A1,1,0,0,1,5,4ZM2,5A3,3,0,0,1,5,2H19a3,3,0,0,1,3,3V19a3,3,0,0,1-3,3H5a3,3,0,0,1-3-3Zm10,7C9.239,12,7,9.314,7,6H9c0,2.566,1.669,4,3,4s3-1.434,3-4h2C17,9.314,14.761,12,12,12Z"
              transform="translate(-2 -2)" fill="currentColor" fill-rule="evenodd"></path>
          </svg>
          <span
            class="ms-4 cart-counter-badge flex items-center justify-center bg-heading text-white absolute -top-2.5 xl:-top-3 rounded-full ltr:-right-2.5 ltr:xl:-right-3 rtl:-left-2.5 rtl:xl:-left-3 font-bold">
            {{ cartItemCount }}
          </span>
        </button>

        <div class="ms-4 flex-shrink-0">
          <button class="text-sm font-semibold xl:text-base text-heading">
            Sign In
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

<app-shopping-cart *ngIf="isCartVisible" (cartClosed)="onCartClosed()"></app-shopping-cart>
