<main class="relative flex-grow" style="min-height:-webkit-fill-available;-webkit-overflow-scrolling:touch">
  <div class="border-t-2 border-borderBottom">
    <div class="mx-auto max-w-[1920px] md:px-8 2xl:px-16">
      <div class="flex pt-8 pb-10 lg:pb-16 xl:pb-20">
        <div
          class="flex-shrink-0 hidden ltr:pr-8 rtl:pl-8 ltr:xl:pr-12 ltr:2xl:pr-24 rtl:xl:pl-12 rtl:2xl:pl-24 lg:block w-72 xl:w-80 2xl:w-96" style="padding-right: 6rem;">
          <div style="position: relative; top: 0px;">
            <div class="m-auto  pb-5 xl:pb-7 ">
              <div class="flex items-center chawkbazarBreadcrumb">
                <ol class="flex items-center w-full overflow-hidden m-0 p-0">
                  <li
                    class="text-sm text-body px-2.5 transition duration-200 ease-in ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 hover:text-heading">
                    <a class="" href="/">Home</a></li>
                  <li class="text-base text-body mt-0.5">/</li>
                  <li
                    class="text-sm text-body px-2.5 transition duration-200 ease-in ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 hover:text-heading">
                    <a class="capitalize" href="/search">Collection</a></li>
                </ol>
              </div>
            </div>
            <div class="pt-1">
              <div class="block pb-3 border-b border-gray-300 xl:pb-5 mb-7">
                <div class="flex items-center justify-between mb-2.5">
                  <h2 class="text-base font-semibold text-heading md:text-xl lg:text-2xl m-0">Collection List</h2>
                </div>
              </div>
              <div class="block pb-7">
                <ul class="flex flex-col mt-2 space-y-5 m-0 p-0">
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/new-sports">Sports</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/exclusive-sunglasses">Sunglass</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/product-coupons">Coupons</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/new-backpack">Backpack</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/womens-collection">Women's Collection</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/mens-collection">Men's Collection</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/flash-sale">Flash Sale</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/featured-products">Featured Products</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/kids-collection">Kids Collection</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/winter-collection">Winter Collection</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/gift-collection">Gift Collection</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5"
                      routerLink="/collections/winter-offer">Winter Offer</a></li>
                  <li class="text-sm lg:text-[15px] cursor-pointer"><a
                      class="block transition duration-300 ease-in-out text-heading hover:font-semibold py-0.5 font-semibold"
                      routerLink="/collections/on-sale">On Sale</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
       <router-outlet></router-outlet>
      </div>
      <div
        class="px-5 sm:px-8 md:px-16 2xl:px-24 flex flex-col justify-center xl:justify-between items-center rounded-lg bg-gray-200 py-10 md:py-14 lg:py-16 xl:flex-row">
        <div
          class="-mt-1.5 lg:-mt-2 xl:-mt-0.5 text-center ltr:xl:text-left rtl:xl:text-right mb-7 md:mb-8 lg:mb-9 xl:mb-0">
          <h3
            class="text-heading text-lg md:text-xl lg:text-2xl 2xl:text-3xl xl:leading-10 font-bold mb-2 md:mb-2.5 lg:mb-3 xl:mb-3.5">
            Get Expert Tips In Your Inbox</h3>
          <p class="text-body text-xs md:text-sm leading-6 md:leading-7">Subscribe to our newsletter and stay updated.
          </p>
        </div>
        <form class="flex-shrink-0 w-full sm:w-96 md:w-[545px] z-10 relative">
          <div class="flex flex-col sm:flex-row items-start justify-end">
            <div class="w-full"><input id="email" name="email" type="email" placeholder="Write your email here"
                class="py-2 md:px-5 w-full appearance-none border text-input text-xs md:text-[13px] lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out border-gray-300 focus:outline-none focus:border-heading md:h-12 px-4 lg:px-7 h-12 lg:h-14 text-center ltr:sm:text-left rtl:sm:text-right bg-white"
                autocomplete="off" spellcheck="false" aria-invalid="false"></div><button data-variant="flat"
              class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none focus:bg-opacity-80 bg-heading text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-cart mt-3 sm:mt-0 w-full sm:w-auto ltr:sm:ml-2 rtl:sm:mr-2 md:h-full flex-shrink-0"><span
                class="lg:py-0.5">Subscribe</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
