  <h2 class="text-lg md:text-xl xl:text-2xl font-bold text-heading mb-6 xl:mb-8">Orders</h2>
  <div class="w-full flex flex-col">
    <table>
      <thead class="text-sm lg:text-base">
        <tr>
          <th
            class="bg-gray-100 p-4 text-heading font-semibold ltr:text-left rtl:text-right ltr:first:rounded-tl-md rtl:first:rounded-tr-md w-24">
            Order</th>
          <th
            class="bg-gray-100 p-4 text-heading font-semibold ltr:text-left rtl:text-right lg:text-center w-40 xl:w-56">
            Date</th>
          <th
            class="bg-gray-100 p-4 text-heading font-semibold ltr:text-left rtl:text-right lg:text-center w-36 xl:w-44">
            Status</th>
          <th class="bg-gray-100 p-4 text-heading font-semibold ltr:text-left rtl:text-right lg:text-center">Total</th>
          <th
            class="bg-gray-100 p-4 text-heading font-semibold ltr:text-left rtl:text-right ltr:lg:text-right rtl:lg:text-left ltr:last:rounded-tr-md rtl:last:rounded-tl-md w-24">
            Actions</th>
        </tr>
      </thead>
      <tbody class="text-sm lg:text-base">
        <tr class="border-b border-gray-300 last:border-b-0">
          <td class="px-4 py-5 ltr:text-left rtl:text-right"><a class="underline hover:no-underline text-body"
              href="/my-account/orders/20240908948118">#203</a></td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 text-heading">September 8, 2024</td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 whitespace-nowrap"><span
              class="px-3 py-1 rounded-full text-sm text-light bg-status-processing bg-opacity-10 text-status-processing min-h-[2rem] inline-flex items-center text-sm font-semibold !leading-none xs:text-sm">Order
              Processing</span></td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 text-heading">$243.80 for 1 items</td>
          <td class="ltr:text-right rtl:text-left px-4 py-5 text-heading"><a
              class="text-sm leading-4 bg-heading text-white px-4 py-2.5 inline-block rounded-md hover:text-white hover:bg-gray-600"
              href="/my-account/orders/20240908948118">View</a></td>
        </tr>
        <tr class="border-b border-gray-300 last:border-b-0">
          <td class="px-4 py-5 ltr:text-left rtl:text-right"><a class="underline hover:no-underline text-body"
              href="/my-account/orders/20240908784111">#200</a></td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 text-heading">September 8, 2024</td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 whitespace-nowrap"><span
              class="px-3 py-1 rounded-full text-sm text-light bg-status-processing bg-opacity-10 text-status-processing min-h-[2rem] inline-flex items-center text-sm font-semibold !leading-none xs:text-sm">Order
              Processing</span></td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 text-heading">$621.20 for 2 items</td>
          <td class="ltr:text-right rtl:text-left px-4 py-5 text-heading"><a
              class="text-sm leading-4 bg-heading text-white px-4 py-2.5 inline-block rounded-md hover:text-white hover:bg-gray-600"
              href="/my-account/orders/20240908784111">View</a></td>
        </tr>
        <tr class="border-b border-gray-300 last:border-b-0">
          <td class="px-4 py-5 ltr:text-left rtl:text-right"><a class="underline hover:no-underline text-body"
              href="/my-account/orders/20240908553283">#198</a></td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 text-heading">September 8, 2024</td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 whitespace-nowrap"><span
              class="px-3 py-1 rounded-full text-sm text-light bg-status-processing bg-opacity-10 text-status-processing min-h-[2rem] inline-flex items-center text-sm font-semibold !leading-none xs:text-sm">Order
              Processing</span></td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 text-heading">$105.08 for 1 items</td>
          <td class="ltr:text-right rtl:text-left px-4 py-5 text-heading"><a
              class="text-sm leading-4 bg-heading text-white px-4 py-2.5 inline-block rounded-md hover:text-white hover:bg-gray-600"
              href="/my-account/orders/20240908553283">View</a></td>
        </tr>
        <tr class="border-b border-gray-300 last:border-b-0">
          <td class="px-4 py-5 ltr:text-left rtl:text-right"><a class="underline hover:no-underline text-body"
              href="/my-account/orders/20240908726196">#196</a></td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 text-heading">September 8, 2024</td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 whitespace-nowrap"><span
              class="px-3 py-1 rounded-full text-sm text-light bg-status-processing bg-opacity-10 text-status-processing min-h-[2rem] inline-flex items-center text-sm font-semibold !leading-none xs:text-sm">Order
              Processing</span></td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 text-heading">$498.80 for 1 items</td>
          <td class="ltr:text-right rtl:text-left px-4 py-5 text-heading"><a
              class="text-sm leading-4 bg-heading text-white px-4 py-2.5 inline-block rounded-md hover:text-white hover:bg-gray-600"
              href="/my-account/orders/20240908726196">View</a></td>
        </tr>
        <tr class="border-b border-gray-300 last:border-b-0">
          <td class="px-4 py-5 ltr:text-left rtl:text-right"><a class="underline hover:no-underline text-body"
              href="/my-account/orders/20240907661466">#194</a></td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 text-heading">September 8, 2024</td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 whitespace-nowrap"><span
              class="px-3 py-1 rounded-full text-sm text-light bg-status-processing bg-opacity-10 text-status-processing min-h-[2rem] inline-flex items-center text-sm font-semibold !leading-none xs:text-sm">Order
              Processing</span></td>
          <td class="ltr:text-left rtl:text-right lg:text-center px-4 py-5 text-heading">$233.60 for 1 items</td>
          <td class="ltr:text-right rtl:text-left px-4 py-5 text-heading"><a
              class="text-sm leading-4 bg-heading text-white px-4 py-2.5 inline-block rounded-md hover:text-white hover:bg-gray-600"
              href="/my-account/orders/20240907661466">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex justify-end items-center pt-5">
    <ul class="rc-pagination">
      <li title="上一页" class="rc-pagination-prev rc-pagination-disabled" aria-disabled="true"><svg
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" disabled="">
          <path
            d="M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z"
            fill="currentColor" stroke="currentColor"></path>
        </svg></li>
      <li title="1" class="rc-pagination-item rc-pagination-item-1 rc-pagination-item-active" tabindex="0"><a
          rel="nofollow">1</a></li>
      <li title="2" class="rc-pagination-item rc-pagination-item-2" tabindex="0"><a rel="nofollow">2</a></li>
      <li title="3" class="rc-pagination-item rc-pagination-item-3" tabindex="0"><a rel="nofollow">3</a></li>
      <li title="4" class="rc-pagination-item rc-pagination-item-4" tabindex="0"><a rel="nofollow">4</a></li>
      <li title="5" class="rc-pagination-item rc-pagination-item-5 rc-pagination-item-before-jump-next" tabindex="0"><a
          rel="nofollow">5</a></li>
      <li title="向后 5 页" tabindex="0" class="rc-pagination-jump-next"><button type="button" aria-label="next page"
          class="rc-pagination-item-link"></button></li>
      <li title="17" class="rc-pagination-item rc-pagination-item-17" tabindex="0"><a rel="nofollow">17</a></li>
      <li title="下一页" tabindex="0" class="rc-pagination-next" aria-disabled="false"><svg
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20">
          <path
            d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"
            fill="currentColor" stroke="currentColor"></path>
        </svg></li>
      <li class="rc-pagination-options"></li>
    </ul>
  </div>
