  <div class="space-y-8">
    <div class="bg-gray-300 bg-opacity-20 rounded p-8">
      <form novalidate="">
        <div class="mb-8">
          <section class="upload">
            <div role="presentation" tabindex="0"
              class="border border-gray-300 h-36 rounded flex flex-col justify-center items-center cursor-pointer focus:border-accent-400 bg-white focus:outline-none">
              <input accept="" type="file" tabindex="-1" name="profile.avatar" style="display: none;"><svg
                xmlns="http://www.w3.org/2000/svg" width="41px" height="30px" viewBox="0 0 40.909 30"
                class="text-muted-light">
                <g transform="translate(0 -73.091)">
                  <path data-name="Path 2125"
                    d="M39.129,89.827A8.064,8.064,0,0,0,34.58,86.94,5.446,5.446,0,0,0,30,78.546a5.207,5.207,0,0,0-3.537,1.321,10.921,10.921,0,0,0-10.1-6.776,10.511,10.511,0,0,0-7.713,3.2A10.508,10.508,0,0,0,5.454,84q0,.277.043.916A9.528,9.528,0,0,0,0,93.546a9.193,9.193,0,0,0,2.8,6.743,9.191,9.191,0,0,0,6.744,2.8H32.728a8.172,8.172,0,0,0,6.4-13.264Zm-12.06-.575a.656.656,0,0,1-.479.2H21.818v7.5a.691.691,0,0,1-.681.681H17.045a.691.691,0,0,1-.682-.681v-7.5H11.59a.655.655,0,0,1-.681-.681.8.8,0,0,1,.213-.512L18.6,80.783a.722.722,0,0,1,.98,0l7.5,7.5a.663.663,0,0,1,.191.49A.656.656,0,0,1,27.07,89.252Z"
                    transform="translate(0)" fill="#e6e6e6"></path>
                </g>
              </svg>
              <p class="mt-4 text-sm text-center text-body"><span class="font-semibold text-accent">Upload an
                  image</span> or drag and drop <br><span class="text-xs text-body">PNG, JPG</span></p>
            </div>
            <aside class="flex flex-wrap mt-2">
              <div class="relative inline-flex flex-col mt-2 overflow-hidden rounded-full">
                <div class="flex items-center justify-center w-16 h-16 min-w-0 overflow-hidden"><img
                    src="https://chawkbazarlaravel.s3.ap-southeast-1.amazonaws.com/326/conversions/man-thumbnail.jpg">
                </div>
              </div>
            </aside>
          </section>
        </div>
        <div class="mb-6 flex flex-row">
          <div class="flex-1"><label for="name"
              class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer">Name</label><input
              id="name" name="name" type="text" placeholder=""
              class="py-2 px-4 md:px-5 w-full appearance-none border text-input text-xs md:text-[13px] lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out border-gray-300 focus:border-heading focus-visible:outline-none h-12"
              autocomplete="off" spellcheck="false" aria-invalid="false"></div>
        </div>
        <div class="mb-6"><label for="profile.bio"
            class="block text-gray-600 font-semibold text-sm leading-none mb-3">Bio</label><textarea id="profile.bio"
            name="profile.bio"
            class="px-4 py-3 flex items-center w-full rounded appearance-none transition duration-300 ease-in-out text-heading text-sm focus:outline-none focus:ring-0 border border-gray-300 focus:border-primary"
            autocomplete="off" spellcheck="false" rows="4" placeholder=""></textarea></div>
        <div class="flex"><button data-variant="flat"
            class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none focus:bg-opacity-80 bg-heading text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-cart ltr:ml-auto rtl:mr-auto">Save</button>
        </div>
      </form>
    </div>
    <div class="bg-gray-300 bg-opacity-20 rounded p-8">
      <form novalidate="">
        <div class="mb-6">
          <div class="flex-1"><label for="email"
              class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer">Email</label><input
              id="email" name="email" type="text" placeholder=""
              class="py-2 px-4 md:px-5 w-full appearance-none border text-input text-xs md:text-[13px] lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out border-gray-300 focus:border-heading focus-visible:outline-none h-12"
              autocomplete="off" spellcheck="false" aria-invalid="false"></div>
        </div>
        <div class="flex"><button data-variant="flat"
            class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none focus:bg-opacity-80 bg-heading text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-cart ltr:ml-auto rtl:mr-auto">Save</button>
        </div>
      </form>
      <div class="w-full flex flex-col"><label
          class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer">Contact</label>
        <form novalidate="" class="w-full">
          <div class="flex flex-col">
            <div class="flex w-full items-center sm:min-w-[360px] gap-4 sm:gap-0 sm:flex-nowrap flex-wrap">
              <div class=" react-tel-input ">
                <div class="special-label">Phone</div><input
                  class="form-control !p-0 ltr:!pr-4 rtl:!pl-4 ltr:!pl-14 rtl:!pr-14 !flex !items-center !w-full !appearance-none !transition !duration-300 !ease-in-out !text-heading !text-sm focus:!outline-none focus:!ring-0 !border !border-gray-300 !rounded focus:!border-accent !h-12"
                  placeholder="1 (702) 123-4567" type="tel" value="+1 (936) 514-1641">
                <div class="flag-dropdown ">
                  <div class="selected-flag" title="United States: + 1" tabindex="0" role="button"
                    aria-haspopup="listbox">
                    <div class="flag us">
                      <div class="arrow"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right mt-6"><button data-variant="flat"
                class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none focus:bg-opacity-80 bg-heading text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-cart">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
