<footer class="border-b-4 border-heading mt-9 md:mt-11 lg:mt-16 3xl:mt-20 pt-2.5 lg:pt-0 2xl:pt-2">
  <div class="mx-auto max-w-[1920px] md:px-8 2xl:px-16">
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-5 md:gap-9 lg:gap-x-8 xl:gap-5  pb-9 md:pb-14 lg:pb-16 2xl:pb-20 3xl:pb-24 lg:mb-0.5 2xl:mb-0 3xl:-mb-1">
      <div>
        <h4 class=" text-sm font-semibold text-heading md:text-base xl:text-lg 2xl:mb-6 3xl:mb-7">Social</h4>
        <ul class="text-xs md:text-[13px] lg:text-sm text-body flex flex-col space-y-3 lg:space-y-3.5 p-0">
          <li class="flex items-baseline"><span
              class="ltr:mr-3 rtl:ml-3 relative top-0.5 lg:top-1 text-sm lg:text-base"><svg stroke="currentColor"
                fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z">
                </path>
              </svg></span><a class="transition-colors duration-200 hover:text-black" target="_blank"
              href="https://www.facebook.com/redqinc">/redqinc</a></li>
          <li class="flex items-baseline"><span
              class="ltr:mr-3 rtl:ml-3 relative top-0.5 lg:top-1 text-sm lg:text-base"><svg stroke="currentColor"
                fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z">
                </path>
              </svg></span><a class="transition-colors duration-200 hover:text-black" target="_blank"
              href="https://twitter.com/RedqTeam">/RedqTeam</a></li>
          <li class="flex items-baseline"><span
              class="ltr:mr-3 rtl:ml-3 relative top-0.5 lg:top-1 text-sm lg:text-base"><svg stroke="currentColor"
                fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M349.33 69.33a93.62 93.62 0 0193.34 93.34v186.66a93.62 93.62 0 01-93.34 93.34H162.67a93.62 93.62 0 01-93.34-93.34V162.67a93.62 93.62 0 0193.34-93.34h186.66m0-37.33H162.67C90.8 32 32 90.8 32 162.67v186.66C32 421.2 90.8 480 162.67 480h186.66C421.2 480 480 421.2 480 349.33V162.67C480 90.8 421.2 32 349.33 32z">
                </path>
                <path
                  d="M377.33 162.67a28 28 0 1128-28 27.94 27.94 0 01-28 28zM256 181.33A74.67 74.67 0 11181.33 256 74.75 74.75 0 01256 181.33m0-37.33a112 112 0 10112 112 112 112 0 00-112-112z">
                </path>
              </svg></span><a class="transition-colors duration-200 hover:text-black" target="_blank"
              href="https://www.instagram.com/redqteam">/redqteam</a></li>
        </ul>
      </div>
      <div>
        <h4 class=" text-sm font-semibold text-heading md:text-base xl:text-lg 2xl:mb-6 3xl:mb-7">Contact</h4>
        <ul class="text-xs md:text-[13px] lg:text-sm text-body flex flex-col space-y-3 lg:space-y-3.5 p-0">
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black"
              href="/contact-us">Contact Us</a></li>
          <li class="flex items-baseline">Website<!-- -->:<a
              class="ml-1 transition-colors duration-200 hover:text-black" href="https://redq.io">https://redq.io</a>
          </li>
        </ul>
      </div>
      <div class="undefined">
        <h4 class=" text-sm font-semibold text-heading md:text-base xl:text-lg 2xl:mb-6 3xl:mb-7">About</h4>
        <ul class="text-xs md:text-[13px] lg:text-sm text-body flex flex-col space-y-3 lg:space-y-3.5 p-0">
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black" href="/">Support
              Center</a></li>
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black" href="/">Customer
              Support</a></li>
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black" href="/">About
              Us</a></li>
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black"
              href="/">Copyright</a></li>
        </ul>
      </div>
      <div class="undefined">
        <h4 class=" text-sm font-semibold text-heading md:text-base xl:text-lg 2xl:mb-6 3xl:mb-7">Customer Care</h4>
        <ul class="text-xs md:text-[13px] lg:text-sm text-body flex flex-col space-y-3 lg:space-y-3.5 p-0">
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black" href="/faq">FAQ
              &amp; Helps</a></li>
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black" href="/">Shipping
              &amp; Delivery</a></li>
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black" href="/">Return
              &amp; Exchanges</a></li>
        </ul>
      </div>
      <div class="undefined">
        <h4 class=" text-sm font-semibold text-heading md:text-base xl:text-lg 2xl:mb-6 3xl:mb-7">Our Information
        </h4>
        <ul class="text-xs md:text-[13px] lg:text-sm text-body flex flex-col space-y-3 lg:space-y-3.5 p-0">
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black"
              href="/privacy">Privacy policy update</a></li>
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black" href="/terms">Terms
              &amp; conditions</a></li>
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black"
              href="/privacy">Return Policy</a></li>
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black" href="/">Site
              Map</a></li>
        </ul>
      </div>
      <div class="undefined">
        <h4 class=" text-sm font-semibold text-heading md:text-base xl:text-lg 2xl:mb-6 3xl:mb-7">Community</h4>
        <ul class="text-xs md:text-[13px] lg:text-sm text-body flex flex-col space-y-3 lg:space-y-3.5 p-0">
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black"
              href="/">Announcements</a></li>
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black" href="/">Answer
              center</a></li>
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black" href="/">Discussion
              boards</a></li>
          <li class="flex items-baseline"><a class="transition-colors duration-200 hover:text-black" href="/">Giving
              works</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border-t border-gray-300 pt-5 pb-16 sm:pb-20 md:pb-5 mb-2 sm:mb-0">
    <div
      class="flex flex-col-reverse md:flex-row text-center md:justify-between mx-auto max-w-[1920px] px-4 md:px-8 2xl:px-16">
      <p class="text-body text-xs md:text-[13px] lg:text-sm leading-6">©<!-- -->2024<!-- --> <a
          class="font-semibold text-gray-700 transition-colors duration-200 ease-in-out hover:text-body"
          href="https://chawkbazar.redq.io/">ChawkBazar</a>. <!-- -->Copyright © REDQ. All rights reserved
        worldwide.<!-- --> <a
          class="font-semibold text-gray-700 transition-colors duration-200 ease-in-out hover:text-body"
          href="https://redq.io">REDQ</a></p>
    </div>
  </div>
</footer>
