<div class="flex justify-center p-6 md:p-10 2xl:p-8 relative bg-no-repeat bg-center bg-cover"
    style="background-image: url(&quot;/assets/images/page-header.jpg&quot;);">
    <div
        class="absolute top-0 ltr:left-0 rtl:right-0 bg-black w-full h-full opacity-50 transition-opacity duration-500 group-hover:opacity-80">
    </div>
    <div class="w-full flex items-center justify-center relative z-10 py-10 md:py-14 lg:py-20 xl:py-24 2xl:py-32">
        <h2 class="text-xl md:text-2xl lg:text-3xl font-bold text-white text-center"><span
                class="font-satisfy block font-normal mb-3">explore</span>Frequently Asked Questions</h2>
    </div>
</div>
<div class="mx-auto max-w-[1920px] md:px-8 2xl:px-16">
    <div class="py-16 lg:py-20 px-0 max-w-5xl mx-auto space-y-4">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item rounded-md bg-gray-200">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        What is your return policy?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        We have a flexible return policy. If you're not satisfied with your purchase, you can return
                        most items within 30 days
                        for a full refund or exchange. Please review our Return Policy for more details.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Can I track my order?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        Yes, you can track your order's status. Once your order is shipped, you will receive a tracking
                        number via email. You
                        can use this tracking number to monitor the progress of your delivery.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        How long will it take to receive my order?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        Delivery times may vary depending on your location and the shipping method you choose.
                        Typically, orders are processed
                        and shipped within 1-2 business days. You can check the estimated delivery time during checkout.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        What payment methods do you accept?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        We accept a variety of payment methods, including credit cards (Visa, MasterCard, American
                        Express), PayPal, and more.
                        You can choose your preferred payment option during the checkout process.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        How can I place an order?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        To place an order, simply browse our online store, add the items you want to your cart, and
                        proceed to checkout. Follow
                        the prompts to enter your shipping information and payment details to complete your purchase.
                    </div>
                </div>
            </div>
        </div>
    </div>
        <app-news-latter containerClass="bg-gray-200"></app-news-latter>

</div>
