  <h2 class="text-lg md:text-xl xl:text-2xl font-bold text-heading mb-3 xl:mb-5">Dashboard</h2>
  <div class="text-sm leading-7 md:text-base md:leading-loose">
    <p class="capitalize">Hello <span class="font-bold">Customer1</span> (not <span class="font-bold">Customer1</span>?
      <a class="font-bold underline cursor-pointer focus:outline-none" href="/logout">Logout</a>)</p><br>From your
    account dashboard you can view your <a class="text-heading underline font-semibold" href="/my-account/orders">recent
      orders</a>, manage your <a class="text-heading underline font-semibold" href="/my-account/address">Address</a> and
    <a class="text-heading underline font-semibold" href="/my-account/contact-number">Profile</a> and <a
      class="text-heading underline font-semibold" href="/my-account/change-password">change your password</a>
  </div>
